fastapi==0.111.0
uvicorn==0.30.1
SQLAlchemy==2.0.30
psycopg2-binary==2.9.9
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
alembic==1.13.1
scikit-learn==1.5.0 # For ML prediction
pandas==2.2.2      # For ML prediction
numpy==1.26.4      # For ML prediction
python-dotenv==1.0.1